# Copie este arquivo para .env e ajuste os valores antes de subir os containers.

# Otimizações de CPU e resolução comprovadas pelo benchmark

# Porcentagem mínima de corte para biometria (escala de 0.0 a 1.0) 0.8 signifca 80% de similaridade
FACE_SIMILARITY_THRESHOLD=0.8

# o custo de mais que 4 threads intra-op é maior que o benefício, então não aumente esse valor 
ORT_INTRA_OP_THREADS=4
ORT_INTER_OP_THREADS=1

# Tamanho da imagem para detecção de faces (quanto maior, mais preciso, mas mais lento)
FACE_DET_SIZE=480

# PostgreSQL
POSTGRES_DB=controle_acesso
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

# Autenticação JWT
# ATENÇÃO: Configure uma chave secreta longa e segura em produção (ex: openssl rand -hex 32).
# Nunca utilize chaves fracas ou previsíveis ("secret", "123456", etc).
JWT_SECRET=string_aleatoria_e_secreta
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=

#fastapi-mail
MAIL_ENABLED=true
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-senha-de-app
MAIL_FROM=seu-email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=true
MAIL_SSL_TLS=false

FRONTEND_URL=http://localhost:4200

#endpoint base para o ESP32 enviar comandos para o backend (ex: abrir porta, acender led, etc)
ESP32_URL_COMANDO=http://localhost:5000/api/v1/arduino/liberar-acesso